---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ settings.site_url }}/</loc></url>
  <url><loc>{{ settings.site_url }}/archive/</loc></url>
  <url><loc>{{ settings.site_url }}/artists/</loc></url>
  <url><loc>{{ settings.site_url }}/about/</loc></url>
  <url><loc>{{ settings.site_url }}/privacy/</loc></url>
{% for a in collections.artistsList %}  <url><loc>{{ settings.site_url }}/artists/{{ a.page.fileSlug }}/</loc></url>
{% endfor %}</urlset>
